.btn-arrow-slide-cont {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	width: 180px;
	height: auto;
    right: 
}
.btn-arrow-slide-cont:hover{
	background:transparent;
}
.btn-arrow-slide-circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 1.625rem;
}
.btn-arrow-slide-circle .btn-arrow-slide-icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}
.btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
.btn-arrow-slide-arrow::before {
	position: absolute;
	content: '';
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}
.btn-arrow-slide-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}
.btn-arrow-slide-cont:hover .btn-arrow-slide-circle {
	width: 100%;
}
.btn-arrow-slide-cont:hover .btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
	background: #fff;
	transform: translate(1rem, 0);
}
.btn-arrow-slide-cont:hover .btn-arrow-slide-text {
	color: #fff;
}
.btn-arrow-slide-cont--black .btn-arrow-slide-circle{
	background: #333;
}
.btn-arrow-slide-cont--black .btn-arrow-slide-text{
	color: #333;
}

.buttonContainer {
    display: flex;
    justify-content: space-between; /* THIS is key */
    align-items: center;
    width: 100%;
    padding-top: 100px;
  }

  .btn-arrow-slide-cont--reverse {
    flex-direction: row-reverse;
  }
  
  .btn-arrow-slide-cont--reverse .btn-arrow-slide-text {
    margin: 0 1.85rem 0 0;
    direction: ltr;
  }
  
  .btn-arrow-slide-cont--reverse .btn-arrow-slide-circle {
    margin-left: 0;
    margin-right: 0;
    float: right;
  }
  
  .btn-arrow-slide-cont--reverse:hover .btn-arrow-slide-circle {
    width: 100%;
  }
  
  .btn-arrow-slide-cont--reverse:hover .btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
    transform: translate(7.5rem, 0);
  }
  
  .btn-arrow-slide-cont--reverse .btn-arrow-slide-arrow::before {
    transform: rotate(225deg); /* rotate left */
    left: 0.0625rem;
    right: auto;
  }

  